# Data Analytics Program
## Python Fundamentals for Data Analysts
## 4.8: Grouping data & aggregating variables
## Alphy Jose

# Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing dataset

In [2]:
# Creating string of project folder path
path = r'C:\Users\augus\Documents\01-2026 Instacart Basket Analysis'

In [3]:
#importing orders_products_merged_derived dataframe from the pickle file
df_orders_products_merged_derived = pd.read_pickle(os.path.join(path, '02 Data' , 'Prepared Data' , 'orders_products_merged_derived.pkl'))

In [4]:
# create a subset
df = df_orders_products_merged_derived[:1000000]

In [5]:
df.shape

(1000000, 17)

In [6]:
df.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Average orders
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average orders
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regularly busy,Average orders
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regularly busy,Average orders
5,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders
6,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,117,19,3.0,Low-range product,Regularly busy,Slowest days,Average orders
7,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Slowest days,Average orders
8,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24,4,10.3,Mid-range product,Regularly busy,Slowest days,Average orders
9,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Slowest days,Average orders

In [7]:
#  Findig the average number of orders per user across each Instacart department(on subset of dataframe)
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                14.800024
2                17.091743
3                17.913544
4                17.893092
5                15.214270
6                15.382135
7                17.694027
8                16.458105
9                15.957363
10               20.091818
11               16.482026
12               15.615061
13               16.484023
14               17.524632
15               15.691875
16               18.014071
17               16.150593
18               19.602850
19               17.631340
20               17.138607
21               21.956893

# Step 2: In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [22]:
#  Findig the average number of orders per user across each Instacart department
df_orders_products_merged_derived.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# Step 3: Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

#### Compared to the entire dataset, the subset shows noticeable shifts in average order numbers for some departments.
#### Most departments remain close, but a few (especially dept 8, 6, 21, 14, 3) change significantly

# Step 4: Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [8]:
#using the transform() function to create a new column containing the maximum frequency of the “order_number”
df_orders_products_merged_derived['max_order'] = df_orders_products_merged_derived.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\augus\AppData\Local\Temp\ipykernel_31820\2757328506.py:2: FutureWarning: The provided callable <function max at 0x000002596EB6F060> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_orders_products_merged_derived['max_order'] = df_orders_products_merged_derived.groupby(['user_id'])['order_number'].transform(np.max)

In [10]:
df_orders_products_merged_derived.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Average orders,10
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average orders,10
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regularly busy,Average orders,10
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regularly busy,Average orders,10
5,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10
6,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,117,19,3.0,Low-range product,Regularly busy,Slowest days,Average orders,10
7,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Slowest days,Average orders,10
8,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24,4,10.3,Mid-range product,Regularly busy,Slowest days,Average orders,10
9,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Slowest days,Average orders,10
10,2398795,1,2,3,7,15.0,13032,6,0,Cinnamon Toast Crunch,121,14,4.0,Low-range product,Regularly busy,Slowest days,Average orders,10
11,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10
12,473747,1,3,3,12,21.0,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Slowest days,Most orders,10
13,473747,1,3,3,12,21.0,10258,3,1,Pistachios,117,19,3.0,Low-range product,Regularly busy,Slowest days,Most orders,10
14,473747,1,3,3,12,21.0,25133,4,0,Organic String Cheese,21,16,8.6,Mid-range product,Regularly busy,Slowest days,Most orders,10

In [10]:
# creating new column that assigns a loyalty flag to each customer according to the criteria (via the loc() function)

In [11]:
df_orders_products_merged_derived.loc[df_orders_products_merged_derived['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [12]:
df_orders_products_merged_derived.loc[(df_orders_products_merged_derived['max_order'] <= 40) & (df_orders_products_merged_derived['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [13]:
df_orders_products_merged_derived.loc[df_orders_products_merged_derived['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [21]:
df_orders_products_merged_derived[['user_id', 'loyalty_flag', 'order_number','max_order']].head(60)

    user_id      loyalty_flag  order_number  max_order
0         1      New customer             1         10
1         1      New customer             1         10
2         1      New customer             1         10
3         1      New customer             1         10
4         1      New customer             1         10
5         1      New customer             2         10
6         1      New customer             2         10
7         1      New customer             2         10
8         1      New customer             2         10
9         1      New customer             2         10
10        1      New customer             2         10
11        1      New customer             3         10
12        1      New customer             3         10
13        1      New customer             3         10
14        1      New customer             3         10
15        1      New customer             3         10
16        1      New customer             4         10
17        1      New customer             4         10
18        1      New customer             4         10
19        1      New customer             4         10
20        1      New customer             4         10
21        1      New customer             5         10
22        1      New customer             5         10
23        1      New customer             5         10
24        1      New customer             5         10
25        1      New customer             5         10
26        1      New customer             5         10
27        1      New customer             5         10
28        1      New customer             5         10
29        1      New customer             6         10
30        1      New customer             6         10
31        1      New customer             6         10
32        1      New customer             6         10
33        1      New customer             7         10
34        1      New customer             7         10
35        1      New customer             7         10
36        1      New customer             7         10
37        1      New customer             7         10
38        1      New customer             8         10
39        1      New customer             8         10
40        1      New customer             8         10
41        1      New customer             8         10
42        1      New customer             8         10
43        1      New customer             8         10
44        1      New customer             9         10
45        1      New customer             9         10
46        1      New customer             9         10
47        1      New customer             9         10
48        1      New customer             9         10
49        1      New customer             9         10
50        1      New customer            10         10
51        1      New customer            10         10
52        1      New customer            10         10
53        1      New customer            10         10
54        1      New customer            10         10
55        1      New customer            10         10
56        1      New customer            10         10
57        1      New customer            10         10
58        1      New customer            10         10
59        2  Regular customer             1         14

In [14]:
# printing frequency of loyalty flags
df_orders_products_merged_derived['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

# Step 5: The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers

In [16]:
# the min, max and mean of product prices of  each loyalty category
df_orders_products_merged_derived.groupby(['loyalty_flag']).agg({'prices':['mean','min','max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.773487  1.0  25.0
New customer      7.801077  1.0  25.0
Regular customer  7.798145  1.0  25.0

#### There isnt much significant difference between the spending habits of three types of customers.

# Step 6: Create a spending flag for each user based on the average price across all their orders

In [23]:
#using the transform() function to create a new column containing the average spend made by a user
df_orders_products_merged_derived['average_spend'] = df_orders_products_merged_derived.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\augus\AppData\Local\Temp\ipykernel_31820\1914476164.py:2: FutureWarning: The provided callable <function mean at 0x000002596EB6FA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_orders_products_merged_derived['average_spend'] = df_orders_products_merged_derived.groupby(['user_id'])['prices'].transform(np.mean)

In [24]:
# # creating new column that assigns a flag to each customer according to the average (via the loc() function)

In [25]:
df_orders_products_merged_derived.loc[df_orders_products_merged_derived['average_spend'] < 10, 'spend_flag'] = 'Low spender'

In [26]:
df_orders_products_merged_derived.loc[df_orders_products_merged_derived['average_spend'] >= 10, 'spend_flag'] = 'High spender'

In [27]:
# printing frequency of spend flags
df_orders_products_merged_derived['spend_flag'].value_counts(dropna=False)

spend_flag
Low spender     32285150
High spender      119709
Name: count, dtype: int64

#### More number of users purchase products  less than $10

# Step 7: Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column.

In [28]:
#using the transform() function to create a new column containing the median of 'days_since_prior_order_column'
df_orders_products_merged_derived['order_frequency'] = df_orders_products_merged_derived.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\augus\AppData\Local\Temp\ipykernel_31820\2813514638.py:2: FutureWarning: The provided callable <function median at 0x000002596ECA2B60> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_orders_products_merged_derived['order_frequency'] = df_orders_products_merged_derived.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [29]:
#creating new column that assigns a flag to each customer according to the order frequency (via the loc() function)

In [45]:
df_orders_products_merged_derived.loc[df_orders_products_merged_derived['order_frequency'] > 10 & (df_orders_products_merged_derived['order_frequency'] <=20) , 'frequency_flag'] = 'Regular customer'

In [46]:
df_orders_products_merged_derived.loc[df_orders_products_merged_derived['order_frequency'] <= 10 , 'frequency_flag'] = 'Frequent customer'

In [48]:
df_orders_products_merged_derived.loc[df_orders_products_merged_derived['order_frequency'] > 20 , 'frequency_flag'] = 'Non-frequent customer'

In [49]:
# printing frequency of spend flags
df_orders_products_merged_derived['frequency_flag'].value_counts(dropna=False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

#### Instacart has higher number of frequent customers. And there are 5 first time customers wich is indicated as NaN

# Step 9: Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder

In [51]:
# Exporting dataframe
df_orders_products_merged_derived.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_derived_aggregated.pkl'))